[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = git@github.com:AliciaGaona/hugo-PaperMod.git
[submodule "public"]
	path = public
	url = git@github.com:AliciaGaona/BlogDelAjolonauta.git
[submodule "themes/hugo-theme-stack"]
	path = themes/hugo-theme-stack
	url = git@github.com:AliciaGaona/hugo-theme-stack.git
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = git@github.com:AliciaGaona/LoveIt.git
